body {
  background-color: #002b36;
  color: #d33682;
}

header {
  padding-top: 5.2em;
  font-family: "Marcellus SC",serif;
  font-size: 1.8em;
  color: #eee8d5;
  text-align: center;
}

.desc {
  font-family: "Alegreya";
  font-size: 1.3em;
  color: #cb4b16;
  text-align: center;
}

.link {
  margin: 2.2em auto;
  font-family: "monda";
  font-size: 1.5em;
  color:#d33682;
  text-align: center;
}

.link a {
  color: inherit;
  text-decoration: none;
}